@using GestionCegepWeb.Models
@model EnseignantDTO

<form asp-controller="Enseignant" asp-action="ModifierEnseignant" method="post">

    <div class="form-group">
        <label asp-for ="NoEmploye"></label>
        <input asp-for ="NoEmploye"   class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Nom" ></label>
        <input asp-for="Nom"  class="form-control">
    </div>

    
    <div class="form-group">
        <label asp-for="Prenom" ></label>
        <input asp-for="Prenom" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Adresse" ></label>
        <input asp-for="Adresse" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Ville" ></label>
        <input asp-for="Ville"  class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Province" ></label>
        <input asp-for="Province"  class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="CodePostal" ></label>
        <input asp-for="CodePostal"  class="form-control">
    </div>
     <div class="form-group">
        <label asp-for="Courriel" ></label>
        <input asp-for="Courriel"  class="form-control">
    </div>

    <input type="hidden"  name="nomCegep" value="@ViewBag.nomCegepChoix" />
    @*<input type="hidden"  name="nomDepartement" value="@ViewBag.nomDepartementChoix" />*@

    <button type="submit" class="btn btn-primary">Modifier</button>
    <button onclick="history.back();" type="button" class="btn btn-primary">Annuler</button>
    
    
</form>
